.place__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(242, 242, 242);
    padding: 62px 184px 86px 72px;    
}

@media (max-width: 1279px) {
    .place__container {
        padding: 40px 70px 40px 54px;
    }
}

@media (max-width: 1023px) {
    .place__container {
        padding: 14px 12px 20px 12px;
    }
}

@media(max-width: 767px) {
    .place__container{
        padding: 0;
    }
}