.header__menu{
  display: grid;
  grid-template-columns: 1fr min-content;
  align-content: space-between;
  justify-content: start;
}

@media (max-width: 650px){
  .header__menu{
    grid-template-columns: min-content;
    row-gap: 20px;
  }
}