.page__people{
  max-width: 1350px;
  margin: 0 auto 0;
  padding: 165px 85px 150px;
}

@media (max-width: 1200px){
  .page__people{
    padding: 100px 55px 100px;
  }
}

@media (max-width: 800px){
  .page__people{
    padding: 80px 55px 80px;
  }
}

@media (max-width: 650px){
  .page__people{
    padding: 70px 35px 70px;
  }
}

@media (max-width: 350px){
  .page__people{
    padding: 50px 20px 50px;
  }
}