.people__quote{
  margin: 28px 0;
  font-size: 15px;
  line-height: 1.7;
}

@media (max-width: 1200px){
  .people__quote{
    margin: 15px 0;
  }
}

@media (max-width: 800px){
  .people__quote{
    
  }
}

@media (max-width: 650px){
  .people__quote{
    
  }
}

@media (max-width: 350px){
  .people__quote{
    
  }
}