.people__name{
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 1200px){
  .people__name{
    
  }
}

@media (max-width: 800px){
  .people__name{
    
  }
}

@media (max-width: 650px){
  .people__name{
    
  }
}

@media (max-width: 350px){
  {
    
  }
}