.promo{
  font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}