.promo{
  font-family: 'Roboto', arial;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
}


@media (max-width: 800px){
  .promo{
    grid-template-columns: 1fr;
  }
}