.place__paragraph{
    margin: 0;
    padding: 0;
    width: 86%;
    white-space: pre-line;
    font-style: normal;
    font-weight: normal;
    line-height: 1.6;
    font-size: 15px;
    word-spacing: 2px;
}

@media (max-width: 1400px){
    .place__paragraph{
        font-size: 80%;
    }
}

@media (max-width: 1279px){
    .place__paragraph{
        width: 100%;
    }
}

@media (max-width: 767px){
    .place__paragraph{
        padding-top: 30px;
        padding-bottom: 40px;
        margin: 0 auto;
        width: calc(100vw - 25%);
    }
}

@media (max-width: 500px){
    .place__paragraph{
        width: calc(100vw - 10%);
    }
}