.people__cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 80px;
  justify-content: space-between;
  padding: 0;
  margin-top: 140px;
}

@media (max-width: 1200px){
  .people__cards{
    grid-template-columns: repeat(2, 40%);
    row-gap: 50px;
    margin-top: 100px;
  }
}

@media (max-width: 800px){
  .people__cards{
    grid-template-columns: repeat(1, 60%);
  }
}

@media (max-width: 650px){
  .people__cards{
    grid-template-columns: repeat(1, 70%);
    margin-top: 80px;
  }
}

@media (max-width: 500px){
  .people__cards{
    grid-template-columns: repeat(1, 1fr);
  }
}