.place {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);
    grid-auto-flow: dense;
}

.place:nth-of-type(2n+1) .place__container {
        grid-column-start: 2;
        grid-column-end: 3;
    }

@media (min-width: 1280px){
.place:last-of-type .place__container{
    padding-bottom: 65px;
}
}

@media (max-width: 767px) {
    .place {
        grid-template-columns: 100%;
    }
    .place:nth-of-type(2n+1) .place__container {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}